:root
{
  --fields-green: rgb(73,144,82);
  --mainfont: 'Linux Libertine', serif;
  --titlefont: torontoSubway, sans-serif;
  --headerfont: var(--titlefont);
}

body
{
  font-family: var(--mainfont);
  background-color: #ddd;
}

i
{
  font-style: italic;
}

div#banner
{
  background-color: var(--fields-green);
  padding-bottom: 20px;
  border-bottom: 1px solid #2b2b2b;
}
div#banner h1
{
  padding-top: 20px;
  text-align: center;
  color: white;
  font-size: 7em;
  font-family: var(--titlefont);
}
div#banner h2
{
  padding: 0;
  color: white;
  text-align: center;
  font-size: 2em;
}
div#inner h2
{
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 2em;
  font-variant: small-caps;
  font-family: var(--titlefont);
}

#inner
{
  font-size: 1.5em;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-left:   1px solid   #bbb;
  border-right:  1px solid  #bbb;
  border-bottom: 1px solid #bbb;
  border-radius: 0 0 10px 10px;
}

p
{
  padding: 20px;
  text-align:justify;
  text-align-last:center;
  text-justify: inter-word;
}

p#mission
{
  background-color: #e1d1e2;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-left:   1px solid   #bbb;
  border-right:  1px solid  #bbb;
  border-bottom: 1px solid #bbb;
  border-radius: 0 0 10px 10px;
}

ul#sponsorslist
{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* encourage line break */
.line {
  white-space:nowrap;
}

/* links */
a
{
  color: inherit;
}
a:hover
{
  text-decoration: underline;
  background-color: #333;
  color: white;

}
.hide
{
  display: none;
}

table#organizationlist
{
  margin-left:auto;
  margin-right:auto;
}
table
{
  border-collapse:separate;
  border-spacing: 0.25em;
}
table tr td:first-child
{
  min-width: 400px;
  text-align: right;
  font-style: italic;
  padding-right: 10px;
  vertical-align: middle;
}

/* fonts */
@font-face {
  font-family: torontoSubway;
  src: url(fonts/toronto-subway-w01-regular.ttf);
}
@font-face {
    font-family: 'Linux Libertine'; /* normal */
    src: url('./fonts/linux-libertine/LinLibertine_R.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Linux Libertine'; /* italic */
    src: url('./fonts/linux-libertine/LinLibertine_RI.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Linux Libertine'; /* bold */
    src: url('./fonts/linux-libertine/LinLibertine_RB.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Linux Libertine'; /* bold */
    src: url('./fonts/linux-libertine/LinLibertine_RBI.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Linux Biolinum'; /* normal */
    src: url('./fonts/linux-biolinum/LinBiolinum_R.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Linux Biolinum'; /* italic */
    src: url('./fonts/linux-biolinum/LinBiolinum_RI.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Linux Biolinum'; /* bold */
    src: url('./fonts/linux-biolinum/LinBiolinum_RB.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Linux Biolinum'; /* bold */
    src: url('./fonts/linux-biolinum/LinBiolinum_RBI.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
