{{ define "main" }}

<div id=events>
{{range .Site.Params.events }}
<p>
<span class=line>
  {{T .id }}
</span>
<span class=line>
  <i>{{.date}}</i>
</span>
</p>
{{end}}
</div>

<div id=simple-static>


<p id=about>
{{ .Site.Params.about }} 
</p>

{{ .Content }}


{{- partial "important-dates.html" . -}}

<h2>{{T "sponsors" }}</h2>

<table class=fixed-table>
{{range .Site.Params.sponsors }}
<tr>
  {{ $scn := .id }}
<td class=sponsor-category>{{ .name}}</td>
<td>
  <ul id={{.id}}-sponsor-list>
{{range .items}}
    <li>
      {{ if ((isset . "logo")) | and (not (eq .logo "")) }}
      <img class="logo_{{ $scn }}" src="{{ .logo }}" alt="{{ .name }}" title="{{ .name }}" />
        {{ if ((isset . "logoDisclaimer")) | and (not (eq .logoDisclaimer "")) }}
        <div class=logoDisclaimer>{{ .logoDisclaimer }}</div>
        {{end}}
      {{ end}}
    </li>
{{end}}
{{range .items}}
    <li>
      {{ if (not (isset . "logo")) | or (eq .logo "") }}
      {{ .name }}
      {{ end}}
    </li>
{{end}}
  </ul>
</td>
</tr>
{{end}}
</table>


<p class=single-line>
<a href="mailto:{{ .Site.Params.sponsorContact}}">{{T "contact_us" }}</a> 
{{.Site.Params.sponsorPlea }}
</p>


<h2> {{T "poster" }}</h2>

<div class=poster-container>
<a href=/images/sgp-2021-poster.pdf><img src=/images/sgp-2021-poster.jpg
   class=poster></a>
</div>

<h2> {{T "twitter_feed" }}</h2>
<div class="twitter-container">
 <a class="twitter-timeline" data-height="600" data-width="600" href="https://twitter.com/GeometryProcess?ref_src=twsrc%5Etfw">
    Tweets by GeometryProcess</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
 </div>



{{ end }}
