{{ define "main" }}
<div id=simple-static>

  <p class=code-of-conduct>All are welcome at the <i>Symposium on Geometry Processing 2021</i>.<br>
  Attendees, presenters, volunteers and sponsors are subject to the <a class=line
    href=https://docs.google.com/document/d/1ywKq2UizWWmDAacSV79DbStPimQhqDiFX5mOZXlt1yI/>SGP
    2021 Code of Conduct</a>.</p>

  <h2>Schedule</h2>

  <iframe src="https://calendar.google.com/calendar/embed?height=950&amp;dates=20210710/20210714&amp;wkst=6&amp;ctz=America%2FToronto&amp;src=Y2YyZXBtaWFiZjVybzE2ODZ1OWh2bGV0MTBAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23030b20&amp;mode=AGENDA" style="border:solid 20px #fff;border-radius: 20px;" width="100%" height="950" frameborder="0" scrolling="no"></iframe>

  <h2>{{T "keynotes" }}</h2>
{{range .Params.speakers }}
<div class=keynote-container>
    <img src={{ .portrait }} class=keynote-portrait>
    <div class=keynote-text-container>
    <h3>
      <span class=keynote-name><a href={{.url}}>{{ .name }}</a></span>
    <br>
    <span class=keynote-affiliation>{{ .affiliation}}</span>
    </h3>
    <p>
    {{ if (not (isset . "title")) | or (eq .title "") }}
    ({{T "stay_tuned_for_talk_information"}})
    {{"<!--  Posticon. Otherwise show defined icon //-->" | safeHTML}}
    {{ else }}
    <h3><span class=keynote-title>{{.title}}</span></h3>
    <p>
      {{ .abstract }}
    </p>
    {{ end }}
    </p>
    <p class=keynote-bio>
    {{ if (not (isset . "bio")) | or (eq .bio "") }}
    <!-- just keep it empty -->
    {{"<!--  Posticon. Otherwise show defined icon //-->" | safeHTML}}
    {{ else }}
    {{.bio}}
    {{ end }}
    </p>
    </div>
</div>
{{ end }}

<h2 id=graduate-school>{{T "graduate_school" }}</h2>

<div class=graduate-school-container>
{{range .Params.graduateSchoolCourses}}
    <div class=graduate-school-text-container>
    <h3>
      <span class=graduate-school-title>{{ .title}}</span>
    </h3>
    {{ if (isset . "teaser") }}
    <img src={{ .teaser }} class=graduate-school-teaser>
    {{ end }}
    <p>
    {{ $len := (len .speakers ) }}
    <ul class=graduate-school-speakers>
    {{ range $index, $element := .speakers }}
      <li>
        <a href={{.url}}>{{ .name }}</a>, {{ .affiliation }}
      </li>
    {{end }}
    </ul>
    </p>
    <p>
    {{ .abstract }}
    </p>
    </div>
{{ end }}
</div>

<h2>{{T "technical_papers" }}</h2>

<p>
<i>{{T "stay_tuned_for_more_information"}}</i>
</p>

{{ .Content }}
</div>
{{ end }}
