{{ define "main" }}
<div id=simple-static>

  <h2>{{T "keynotes" }}</h2>
{{range .Params.speakers }}
<div class=keynote-container>
    <img src={{ .portrait }} class=keynote-portrait>
    <div class=keynote-text-container>
    <h3>
      <span class=keynote-name><a href={{.url}}>{{ .name }}</a></span>
    <br>
    <span class=keynote-affiliation>{{ .affiliation}}</span>
    </h3>
    <p>
    {{ if (not (isset . "title")) | or (eq .title "") }}
    ({{T "stay_tuned_for_talk_information"}})
    {{"<!--  Posticon. Otherwise show defined icon //-->" | safeHTML}}
    {{ else }}
    <h3><span class=keynote-title>{{.title}}</span></h3>
    <p>
      {{ .abstract }}
    </p>
    {{ end }}
    </p>
    <p class=keynote-bio>
    {{ if (not (isset . "bio")) | or (eq .bio "") }}
    <!-- just keep it empty -->
    {{"<!--  Posticon. Otherwise show defined icon //-->" | safeHTML}}
    {{ else }}
    {{.bio}}
    {{ end }}
    </p>
    </div>
</div>
{{ end }}

<h2>{{T "technical_papers" }}</h2>

<p>
<i>{{T "stay_tuned_for_more_information"}}</i>
</p>

<h2 id=graduate-school>{{T "graduate_school" }}</h2>

<div class=graduate-school-container>
{{range .Params.graduateSchoolCourses}}
    <div class=graduate-school-text-container>
    <h3>
      <span class=graduate-school-title>{{ .title}}</span>
    </h3>
    {{ if (isset . "teaser") }}
    <img src={{ .teaser }} class=graduate-school-teaser>
    {{ end }}
    <p>
    {{ $len := (len .speakers ) }}
    <ul class=graduate-school-speakers>
    {{ range $index, $element := .speakers }}
      <li>
        <a href={{.url}}>{{ .name }}</a>, {{ .affiliation }}
      </li>
    {{end }}
    </ul>
    </p>
    <p>
    {{ .abstract }}
    </p>
    </div>
{{ end }}
</div>

{{ .Content }}
</div>
{{ end }}
