{{ define "main" }}
<div id=program-banner>
  <nav id=program-nav class="nav justify-content-center">
  <a class=nav-link href=#schedule>Schedule</a>
  <a class=nav-link href=#keynotes>Keynotes</a>
  <a class=nav-link href=#graduate-school>Graduate School</a>
  <a class=nav-link href=#technical-papers>Technical Papers</a>
  </nav>
</div>

<div id=simple-static>

  <p class=code-of-conduct>All are welcome at the <i>Symposium on Geometry Processing 2021</i>.<br>
  Attendees, presenters, volunteers and sponsors are subject to the <a class=line
    href=https://docs.google.com/document/d/1ywKq2UizWWmDAacSV79DbStPimQhqDiFX5mOZXlt1yI/>SGP
    2021 Code of Conduct</a>.</p>

  <h2 id=schedule>Schedule</h2>

<noscript id=cal-noscript>
<iframe class=schedule src="https://calendar.google.com/calendar/u/0/embed?height=950&amp;dates=20210710/20210714&amp;wkst=6&amp;ctz=America/Toronto&amp;src=Y2YyZXBtaWFiZjVybzE2ODZ1OWh2bGV0MTBAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23030b20&amp;mode=AGENDA" style=" border-width:0 " width="800" height="600" frameborder="0" scrolling="no"></iframe>
</noscript>
<script type="text/javascript" src="/js/jstz.min.js"></script>
<script type="text/javascript">
  var timezone = jstz.determine();
  var pref = '<iframe class=schedule src="https://calendar.google.com/calendar/u/0/embed?height=950&amp;dates=20210710/20210714&amp;wkst=6&amp;src=Y2YyZXBtaWFiZjVybzE2ODZ1OWh2bGV0MTBAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23030b20&amp;mode=AGENDA&amp;ctz=';
  var suff = '" style=" border-width:0 " max-width="100%" height="950px" frameborder="0" scrolling="no"></iframe>';
  var iframe_html = (pref + timezone.name() + suff).trim();
  var template = document.createElement('template');
  template.innerHTML = iframe_html;
  document.getElementById('simple-static').insertBefore(
    template.content.firstChild,
    document.getElementById('cal-noscript'));
</script>

  <h2 id=keynotes>{{T "keynotes" }}</h2>
{{range .Params.speakers }}
<div class=keynote-container>
    <img src={{ .portrait }} class=keynote-portrait>
    <div class=keynote-text-container>
    <h3>
      <span class=keynote-name><a href={{.url}}>{{ .name }}</a></span>
    <br>
    <span class=keynote-affiliation>{{ .affiliation}}</span>
    </h3>
    <p>
    {{ if (not (isset . "title")) | or (eq .title "") }}
    ({{T "stay_tuned_for_talk_information"}})
    {{"<!--  Posticon. Otherwise show defined icon //-->" | safeHTML}}
    {{ else }}
    <h3><span class=keynote-title>{{.title}}</span></h3>
    <p>
      {{ .abstract }}
    </p>
    {{ end }}
    </p>
    {{ if (isset . "youtube") }}
      <iframe class=keynote-embedded-video src={{.youtube}} title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    {{end}}
    <p class=keynote-bio>
    {{ if (not (isset . "bio")) | or (eq .bio "") }}
    <!-- just keep it empty -->
    {{"<!--  Posticon. Otherwise show defined icon //-->" | safeHTML}}
    {{ else }}
    {{.bio}}
    {{ end }}
    </p>
    </div>
</div>
{{ end }}

<h2 id=graduate-school>{{T "graduate_school" }}</h2>

<div class=graduate-school-container>
{{range .Params.graduateSchoolCourses}}
    <div class=graduate-school-text-container>
    <h3>
      <span class=graduate-school-title>{{ .title}}</span>
    </h3>
    {{ if (isset . "youtube") }}
      <iframe class=embedded-video src={{.youtube}} title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    {{else}}
    {{ if (isset . "teaser") }}
    <img src={{ .teaser }} class=graduate-school-teaser>
    {{ end }}
    {{ end }}
    <p>
    {{ $len := (len .speakers ) }}
    <ul class=graduate-school-speakers>
    {{ range $index, $element := .speakers }}
      <li>
        <a href={{.url}}>{{ .name }}</a>, {{ .affiliation }}
      </li>
    {{end }}
    </ul>
    </p>
    <p>
    {{ .abstract }}
    </p>
    </div>
{{ end }}
</div>

<h2 id=technical-papers>{{T "technical_papers" }}</h2>

<h4><a href={{.Params.paperURL}}>Proceedings on EG Digital Library</a></h4>
<h4><a href={{.Params.paperUSB}}>Virtual USB Key (1.1GB)</a></h4>

{{range .Params.paperSessions}}
  <h3 class=sessionName id={{ .name | urlize }}>{{ .name}}
  <span class="sessionChair line">chaired by {{ .chair}}</span>
  </h3>
  <div class=sessionContainer>
  <iframe class=embedded-video src={{.youtube}} title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <div class=paperListContainer>
  <ul class=paperList>
  {{ range .papers}}
    <li>
      <span class=paper-title>{{ .title }}</span>
      {{ if (isset . "note") }}
        <span class=paper-note>{{ .note}}</span>
      {{ end }}
      {{ if (isset . "authors") }}
        <div class=authorList>
        {{ range .authors}}
          <div class=paper-author>
            <span class=line> {{.name}} </span>
          </div>
        {{end}}
        </div>
      {{end}}
    </li>
  {{end}}
  </ul>
  </div>
  </div>
{{end}}

{{ .Content }}
</div>
{{ end }}
